@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  iframe {
    @apply bg-black text-left font-sans text-base text-gray-300 sm:text-lg lg:text-xl;
  }

  h1 {
    @apply my-4 font-serif text-3xl font-extrabold text-primary-500 lg:text-3xl;
  }
  h2 {
    @apply my-4 font-sans text-xl font-extrabold text-secondary-500 lg:text-2xl;
  }
  h3 {
    @apply my-4 font-serif text-lg font-bold text-primary-400 lg:text-xl;
  }
  h4 {
    @apply my-4 font-serif text-xl font-bold text-secondary-400 lg:text-2xl;
  }
  h5 {
    @apply my-4 font-serif text-lg font-bold text-gray-300 md:text-xl lg:text-2xl;
  }

  label {
    @apply mb-2 block font-extrabold;
  }
  p {
    @apply my-4 mx-auto max-w-4xl;
  }
  ,
  select {
    @apply block w-full;
  }
  input {
    @apply block w-full;
  }
  textarea {
    @apply block w-full;
  }
  section {
    @apply md:text-center;
  }
  form {
    @apply p-4 md:p-8;
  }
}

@layer components {
  p a:any-link {
    @apply font-medium text-blue-600 hover:underline dark:text-blue-500;
  }
  .select {
    @apply w-full;
  }
  section > * {
    @apply p-4 md:p-8;
  }
  main {
    @apply mx-auto min-h-[calc(100vh-10rem)] max-w-4xl;
  }
  article {
    @apply min-w-[350px];
  }
  section.dark {
    @apply w-full bg-gray-800 py-8  text-left md:text-center;
  }
  footer {
  }
}

.fire {
  width: fit-content;
  height: auto;
  padding-right: 60px;
}
.fire svg {
  width: 100%;
  height: auto;
  position: relative;
}
.spark {
  animation-name: spark;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  opacity: 0;
  transform-origin: 50% 50% 0;
}
.spark1 {
  animation-delay: 1s;
  animation-duration: 3s;
}
.spark2 {
  animation-duration: 5s;
  animation-delay: 1s;
}

.flame {
  animation-name: flaming;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.flame1 {
  animation-duration: 4s;
  animation-delay: 1s;
}
.flame2 {
  animation-duration: 3s;
  animation-delay: 2s;
}
.flame3 {
  animation-duration: 2.1s;
  animation-delay: 3s;
}
.flame4 {
  animation-duration: 3.2s;
  animation-delay: 4s;
}
.flame5 {
  animation-duration: 2.5s;
  animation-delay: 5s;
}

@keyframes flaming {
  50% {
    transform: scale(1, 1.2) translate(0, -30px) rotate(-2deg);
  }
}

@keyframes spark {
  0% {
    transform: translate(0) rotate(180deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(-20px, -100px) rotate(180deg);
    opacity: 0;
  }
}
